<html xmlns:th="http://www.thymeleaf.org" id="load">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>메인페이지</title>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }
    </style>
    <script>
        function login() {
            let obj={
                "id" : $('#id').val(),
                "password" : $('#password').val()
            };

            if(obj.id==null||obj.password==null){
                alert("아이디나 패스워드의 값이 들어가있지않음");

            }else {
                $.ajax({
                    type: "post",
                    headers: {'Content-Type': 'application/json'},

                    data : JSON.stringify(obj),
                    url: "http://localhost:8080/login",
                    dataType: "json",


                    success: function (data,status,request) {
                        //로컬스토리지에 데이터 추가

                        console.log(request.getResponseHeader('Authorization'))
                        console.log(request.getResponseHeader('RefreshToken'))
                        localStorage.setItem("Authorization", request.getResponseHeader('Authorization'));
                        localStorage.setItem("RefreshToken", request.getResponseHeader('RefreshToken'));


                    },error: function (request, status, error){
                        console.log(request)
                        console.log(status)
                        console.log(error)

                    }
                });
            }
        }
    </script>
</head>

<body>
<div>
    <p class="control is-expanded">
        <input class="input" type="text" id="id"
               placeholder="ID">
        <input class="input" type="text" id="password"
               placeholder="Password">
    </p>
    <p class="control">
        <button class="button" onclick="login()">로그인</button>
    </p>
</div>
</body>
</html>