<html xmlns:th="http://www.thymeleaf.org" id="load">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>메인페이지</title>
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }
    </style>


    <style>
        .section p {
            display: inline;

        }
        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .modal .bg {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
        }

        #modalBox {
            position: absolute;
            background-color: #fff;
            width: 400px;
            height: 320px;
            padding: 15px;
        }

        .hidden {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            bsCustomFileInput.init()
        })
        function reload() {
          window.location.reload();
        }


        $(function () {
            $("#search_bar").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "http://localhost:8080/recommend",
                        dataType: "json",
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });
        });
        $(function () {
            $("#modal_book_name").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "http://localhost:8080/recommend",
                        dataType: "json",
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 2
            });
        });

        //검색해서 그에 맞는 게시글을 보여주는 함수
        function search() {
            let find_name = $("select[name=find_name]").val() // 검색 종류
            let search_name = $("#search_bar").val() // 검색 값
            if (search_name.charAt(search_name.length - 1) == '의')
                search_name += ' ';

            if (search_name != '') {
                location.href = "/search?keyword=" + search_name + "&type=" + find_name + "&page=" + 1;
            }
        }

        //상세검색
        function advanced_search() {
            let find_name = "advanced"
            let title = $("#modal_book_name").val() ? $("#modal_book_name").val() : "@"// 책 이름
            if (title.charAt(title.length - 1) == '의')
                title += ' ';
            let authors = $("#modal_book_authors").val() ? $("#modal_book_authors").val() : "@"// 저자
            let search_publisher = $("#modal_book_publisher").val() ? $("#modal_book_publisher").val() : "@"// 출판사
            let search_name = title + "-" + authors + "-" + search_publisher
            if (search_name != '') {
                location.href = "/search?keyword=" + search_name + "&type=" + find_name + "&page=" + 1;
            }
        }

        function get_detail_page(obj) {
            let td = $(obj).children();
            let isbn = td.eq(4).text();
            location.href = "/search_isbn?isbn=" + isbn;
        }
        function get_detail_page_recommendBook(obj) {
            let td = $(obj).children(".row").children(".col-md-8").children(".card-body").children(".isbn13");
            let isbn = td.eq(0).text();
            location.href = "/search_isbn?isbn=" + isbn;
        }

    </script>

</head>

<body>
<!--  헤더 부분 -->
<section class="hero is-info">
    <div class="hero-body">
        <a href="http://localhost:8080" class="title" onclick="reload()">
            도서관 데이터 검색
        </a>
    </div>
</section>
<section class="section">

    <div class="field has-addons">
        <p class="control">
        <span class="select">
          <select name="find_name">
            <option value="title">제목</option>
            <option value="writer">저자</option>
            <option value="isbn">isbn</option>
          </select>
        </span>
        </p>
        <p class="control is-expanded">
            <input class="input" type="text" id="search_bar" onkeyup="if(window.event.keyCode==13){search()}"
                   placeholder="Amount of money">
        </p>
        <p class="control">
            <button class="button" onclick="search()">검색</button>
        </p>
        <div class="openBtn" style="margin-left: 10px">
            <button class="button is-info is-outlined">상세검색</button>
        </div>
    </div>
</section>
<!--  상세 검색 모달 -->
<div class="modal hidden">
    <div class="bg"></div>
    <div class="Box" id="modalBox" style="width: 500px">
        <div class="field">
            <label class="label" style="margin: 0">제목</label>
            <input class="input" type="text" id="modal_book_name" placeholder="제목을 입력해주세요">
        </div>
        <div class="field">
            <label class="label" style="margin: 0">저자</label>
            <input class="input" type="text" id="modal_book_authors" placeholder="저자를 입력해주세요">
        </div>
        <div class="field">
            <label class="label" style="margin: 0">출판사</label>
            <input class="input" type="text" id="modal_book_publisher" placeholder="출판사를 입력해주세요">
        </div>
        <br>
        <div class="closeBtn">
            <button class="button is-info">취소</button>
            <button class="button is-info" onclick="advanced_search()">검색</button>
        </div>
    </div>
</div>
<script>
    const open = () => {
        document.querySelector(".modal").classList.remove("hidden");
    }
    const close = () => {
        document.querySelector(".modal").classList.add("hidden");
    }
    document.querySelector(".openBtn").addEventListener("click", open);
    document.querySelector(".closeBtn").addEventListener("click", close);
    document.querySelector(".bg").addEventListener("click", close);
</script>
<!--  게시글 카드가 들어가는 공간 -->
<section class="section" th:if="${totalItems == 0}" style="text-align:center;">
    <div class="container">
        <p style="font-size: 35px">검색결과를 찾을 수 없습니다.😅</p>
        <br>
        <p style="font-size: 35px">검색어: "</p>
        <p style="font-size: 35px" th:text="${keyword}"></p>
        <p style="font-size: 35px">"</p>
    </div>
</section>

<div class="cards" th:if="${not #lists.isEmpty(list)}">
    <p style="font-size: 30px; margin-left:30px ">추천도서 TOP 10😄</p>
    <br>
    <div class="card mb-3"  style="max-width: 350px; position: center; margin-left: 30px; float: left; height: 300px" th:each="recommendbooks:${list} " onclick="get_detail_page_recommendBook(this)">
        <div class="row g-0" >
            <div class="col-md-4" style="position: relative">
                <br>
                <br>
                <br>
                <br>
                <img th:src="${recommendbooks.getBookImageURL()}"
                     onerror="this.onerror=null; this.src='https://previews.123rf.com/images/julynx/julynx1408/julynx140800023/30746516-%EC%82%AC%EC%9A%A9%ED%95%A0-%EC%88%98-%EC%97%86%EA%B1%B0%EB%82%98-%EC%9D%B4%EB%AF%B8%EC%A7%80-%EC%82%AC%EC%A7%84-%EC%97%86%EC%9D%8C.jpg';"
                     class="img-fluid rounded-start" alt="..." style="width: 450px; margin-left: 20px">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <br>
                    <p class="card-text" th:text="'제목: '+${recommendbooks.bookName}"></p>
                    <p class="card-text" th:text="'지은이: '+${recommendbooks.authors}"></p>
                    <p class="card-text" th:text="'출판사: '+${recommendbooks.publisher}"></p>
                    <p class="card-text" th:text="'출판년도: '+${recommendbooks.publicationYear}"></p>
                    <p class="card-text" th:text="'분류: '+${recommendbooks.class_nm}"></p>
                    <p class="card-text" th:text="'분류번호: '+${recommendbooks.class_no}"></p>
                    <p hidden class="isbn13" th:text="${recommendbooks.isbn13}"></p>

                </div>
            </div>
        </div>
    </div>
</div>


<section class="section">
    <div class="container" th:if="${totalItems > 0}">
        <table class="table is-hoverable" style="text-align:center;">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>출판사</th>
                <th>저자</th>
                <th>ISBN</th>
                <th>Vol.</th>
            </tr>
            </thead>
            <tbody th:if="${totalItems == 0}">
            <tr>
                <td>검색 결과를 찾을수 없습니다.😅</td>
            </tr>
            </tbody>
            <tbody>
            <tr th:each="book, status: ${bookList}" onclick="get_detail_page(this)">
                <td th:text="${status.count + ((current_page - 1) * 30)}"></td>
                <td><a th:href="@{http://localhost:8080/search_isbn(isbn=${book.isbn})}"
                       aria-label="Previous"><p th:text="${book.title}"></p></a>
                </td>
                <td th:text="${book.publisher}">stat</td>
                <td th:text="${book.writer}">stat</td>
                <td th:text="${book.isbn}">super</td>
                <td th:text="${book.vol}">super</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
<div class="text-center m-1" th:if="${totalItems > 0}">
    <nav aria-label="Page navigation example ">
        <ul>
            <li class="page-item" style="display: inline-block">
                <a class="page-link"
                   th:href="@{${#httpServletRequest.requestURI}(keyword=${keyword},type=${type},page=1)}"
                   aria-label="Previous">
                    <span aria-hidden="true">처음</span>
                </a>
            </li>
            <li class="page-item" style="display: inline-block" th:if="${current_page -10 > 0}">
                <a class="page-link"
                   th:href="@{${#httpServletRequest.requestURI}(keyword=${keyword},type=${type},page=${startIndex}-1)}"
                   aria-label="Previous">
                    <span aria-hidden="true">이전</span>
                </a>
            </li>
            <th:block th:with="start = ${startIndex}, end = ${endIndex}">
                <li class="page-item" style="display: inline-block"
                    th:with="start = ${startIndex}, end = ${endIndex}"
                    th:each="pageButton : ${#numbers.sequence(start, end)}">
                    <a class="page-link"
                       th:href="@{${#httpServletRequest.requestURI}(keyword=${keyword},type=${type},page=${pageButton})}"
                       th:text=${pageButton}></a>
                </li>
            </th:block>
            <li class="page-item" style="display: inline-block" th:if="${endIndex} < ${totalPages}">
                <a class="page-link"
                   th:href="@{${#httpServletRequest.requestURI}(keyword=${keyword},type=${type},page=${endIndex}+1)}"
                   aria-label="Previous">
                    <span aria-hidden="true">다음</span>
                </a>
            </li>
            <li class="page-item" style="display: inline-block">
                <a class="page-link"
                   th:href="@{${#httpServletRequest.requestURI}(keyword=${keyword},type=${type} ,page=${totalPages})}"
                   aria-label="Previous">
                    <span aria-hidden="true">끝</span>
                </a>
            </li>
        </ul>
    </nav>
    <span>Showing results # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
</div>
</body>

</html>